/*modifying the nav pills colors for the air quality explorer*/

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #f7f5f5;
}

.nav-pills {
  display: flex;
}
.nav-pills li {
  display: flex;
  flex: 1;
}

.nav-pills li  a {
  flex: 1;
}